@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Nunito Sans', sans-serif;
}

html {
    height: 100vh;
}

#root, body {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

#root main {
    flex-grow: 1;
}

@layer base {
    .yazz {

    }
}
