@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Nunito Sans', sans-serif;
}

html {
    height: 100vh;
}

#root, body {
    height: 100%;
}

html.dark body {
    background-color: hsl(207, 26%, 17%);
}

body {
    background-color: hsl(0, 0%, 98%);
}

#root {
    display: flex;
    flex-direction: column;
}

#root main {
    flex-grow: 1;
}


.fadeIn {
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeOut {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}
